<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transport Express</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="../public/img/logoColor.ico" sizes="16x16 24x24 36x36 48x48">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://kit.fontawesome.com/dacf55610e.js"></script>

    <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</head>
<body>

</section>
  <div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="/homeChofer">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Inicio
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="/CargaProformaChofer">
                    <i class="fa fa-truck-moving fa-2x"></i>
                        <span class="nav-text">
                            Cargar Proforma
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="/EditUsuarioChofer">
                        <i class="fa fa-user-edit fa-2x"></i>
                        <span class="nav-text">
                            Mi Usuario
                        </span>
                    </a>
                </li> 
                <li>
                   <a href="/Login/logout">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
